.create-employee-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .nav-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .employee-form .form-group {
    margin-bottom: 15px;
  }
  
  .employee-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .employee-form .form-input,
  .employee-form .form-select,
  .employee-form .form-file-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .employee-form .form-radio,
  .employee-form .form-checkbox {
    margin-right: 10px;
  }
  
  .employee-form .form-group.form-gender,
  .employee-form .form-group.form-courses {
    display: flex;
    align-items: center;
  }
  
  .employee-form .form-label {
    margin-right: 20px;
  }
  
  .employee-form .form-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .employee-form .form-submit-button:disabled {
    background-color: #cccccc;
  }
  
  .employee-form .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  .form-error {
    margin-top: 10px;
  }
  