.employee-list-container {
  padding: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
}

.sub-header {
  background-color: yellow;
  padding: 10px;
  margin-bottom: 20px;
}

.sub-header h3 {
  margin: 0;
}
.sidebar {
  flex: 0 0 250px; /* Adjust width as needed */
  padding-left: 20px; /* Remove excessive padding */
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.controls p {
  margin: 0 0 10px 0;
}

.total-employees-container {
  padding-left: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.create-button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #28a745; /* Green color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.create-button:hover {
  background-color: #218838;
}

.search-input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th, .employee-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.employee-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.edit-button, .delete-button {
  margin-right: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}